:root {
    --ftsrg: #98041c;
}

html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 60px;
    min-height: 100%;
}

body > .container, body > .container > .pb-3 {
    height: auto;
    min-height: 100%;
}

.navbar {
    font-weight: bold;
}

.nav-pills {
    font-weight: bold;
    background-color: white;
    color: var(--ftsrg);
}

.nav-pills .nav-link:not(.active) {
    font-weight: bold;
    background-color: white;
    color: var(--ftsrg);
}

.nav-pills .nav-link.active {
    background-color: var(--ftsrg);
    color: white !important;
    border-radius: 50rem;
}

h3 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0.75rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #98041c;
}

.btn-primary {
    background-color: var(--ftsrg);
    border-color: var(--ftsrg);
    border-radius: 50rem;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:focus:active {
    background-color: black;
    border-color: black;
    outline: none;
}

.btn-primary:disabled {
    background-color: #212529;
    border-color: #212529;
}

.btn {
    border-radius: 50rem;
    font-weight: bold;
}

.btn-danger {
    background-color: black;
    border-color: black;
    color: white;
}

.btn-danger:hover {
    background-color: var(--ftsrg);
    border-color: var(--ftsrg);
    color: black;
}

.btn-danger:active {
    background-color: var(--ftsrg);
    border-color: var(--ftsrg);
    color: black;
}

.btn-danger:focus {
    background-color: var(--ftsrg);
    border-color: var(--ftsrg);
    color: black;
}

.form-check-input {
    width: 1rem;
    height: 1rem;
    border-radius: 50rem !important;
}

.form-check-input:active {
    background-color: var(--ftsrg);
    border-color: var(--ftsrg);
}

.form-check-input:checked {
    background-color: var(--ftsrg);
    border-color: var(--ftsrg);
}

.invalid-tooltip {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: .75rem;
}

.short-number {
    max-width: 76px;
    padding: 0.25rem;
}

.bi-github {
    margin-right: 0.5rem;
}

.tableFixHead {
    overflow: auto;
    height: calc((100vh - 120px - 2 * (1.3rem + .6vw + 1.5rem)) / 2 - 1rem);
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}